name: Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push FE
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Đặt tên image rõ ràng
          tags: huyhoang2609/my-project-frontend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Vào thư mục chứa file docker-compose (do thằng BE tạo ra)
            cd /home/${{ secrets.EC2_USER }}/app
            
            # Chỉ pull update thằng frontend
            docker compose pull frontend
            
            # Chỉ khởi động lại thằng frontend (không đụng vào DB hay BE)
            sudo docker compose pull frontend
            
            sudo docker compose up -d --no-deps frontend
            
            sudo docker image prune -f
